h1{text-align: center;font-family: 'Gill Sans';}

#tudo{width: 630px;
      height: 630px; 
      background-color: aqua; 
      display: grid; 
      grid-template-columns: 33.33% 33.33% 33.33%; }


#capa{display: flex;
      text-align: center;
      justify-content: center;}   


.q{ display: flex;
    background-color: rgb(171, 171, 255); 
    border: 5px solid black;
    justify-content: center;
    text-align: center;
    font-size: 7em;
    width: 200px;
    height: 200px;}

.q p{text-decoration: none;
     padding: 0; 
     margin: 0; 
     width: 100%;
     color:rgb(171, 171, 255);}

.bt{font-size: 3em; 
    display: inline-block; 
    background-color: cadetblue;
    border:3px solid black;
    height: 100px; 
    width: 100px;}